@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes botToTop {
  from {
    transform: translateY(4rem);
  }
  to {
    transform: translateX(0);
  }
}

.divider {
  height: 3px;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 1em 0 1em;
  width: 100%;
  max-width: 30px;
}
.small-container {
  max-width: 600px;
}
