// Animation
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes botToTop {
  from {
    transform: translateY(4rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes topIn {
  from {
    top: -50%;
  }
  to {
    top: 0;
  }
}

// -----------------
.divider {
  height: 0.3rem;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 1em 0 1em;
  width: 100%;
  max-width: 3rem;
}
.small-container {
  max-width: 50rem;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #bbb;
  color: #bbb;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #e2ba48;
  color: #e2ba48;
}
.btn-global {
  padding: 1.5rem;
  color: #000;
  background-color: #e2ba48 !important;
  border: none;
  outline: none;
  width: 100%;
  margin: 1.3rem 0;

  font-size: 1.7rem;
  line-height: 1.7rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-weight: bold;
  &:hover {
    opacity: 0.8;
    color: #000;
  }
}
