// Animation
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes botToTop {
  from {
    transform: translateY(4rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes topIn {
  from {
    top: -50%;
  }
  to {
    top: 0;
  }
}

// -----------------
.divider {
  height: 0.3rem;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 1em 0 1em;
  width: 100%;
  max-width: 3rem;
}
.small-container {
  max-width: 50rem;
}

//
.btn-global {
  padding: 1.5rem;
  color: #000;
  background-color: #e2ba48 !important;
  border: none;
  outline: none;
  width: 100%;
  margin: 1.3rem 0;

  font-size: 1.7rem;
  line-height: 1.7rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-weight: bold;
  &:hover {
    opacity: 0.8;
    color: #000;
  }
}

//
.title-global {
  font-size: 2.5rem;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
}
.products_title {
  color: #3c3451;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 2.2rem;
  margin-bottom: 4rem;
  padding-bottom: 2.5rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  clear: both;
  &::before {
    border-bottom: 4px double #e4e4e4;
    bottom: 3px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 50px;
    z-index: 1;
  }
}

.hover {
  &:hover {
    color: #e2ba48 !important;
  }
}
