@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
$clr-primary: #000;
$clr-secondary: #e2ba48;
$clr-white: #fff;
$clr-gay: #ddd;

$clr-text-primary: #1c1c1c;

$font-family: "Roboto", sans-serif;
