@use "../../scss/" as *;

.productEdit {
  label {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.5;
  }
  input {
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
  }
}
